html {
  background-color: #DDDDDD;
  min-height: 100%;
  width: 100%;
}

body {
  font: 0.875em "Playfair Display", serif;
  margin: 0 0 15%;
  height: 70%;
  width: 100%;
}

a {
  color: #00B7FF;
}

.title-bar {
  position: absolute;
  font-weight: 900;
  width: 100%;
  height: 15%;
  background-color: #fe9f97;
}

.t-bar {
  vertical-align: middle;
  position: relative;
  display: inline-block;
  padding-right: 1%;
  font-size: 2.5em;
  font-weight: lighter;
}

.container {
  margin-top: 10%;
  position: relative;
  display: inline-block;
  height: 70%;
  width: 100%;
}

.spacer {
  width: 2%;
  display: inline-block;
  float: left;
  height: 100%;
}

.authors-img {
  position: fixed;
  top: 30%;
  left: 18%;
  display: inline-block;
  text-align: center;
  width: 22%;
  padding: 10% 0 10% 0;
  background: #0095a3;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 160px;
  margin-left: 10%;
}

.books-img {
  position: fixed;
  top: 30%;
  left: 50%;
  width: 0;
	height: 0;
	border-left: 160px solid transparent;
	border-right: 160px solid transparent;
	border-bottom: 300px solid #0095a3;
}

.authors-span, .books-span {
    font-family: "Helvetica", sans-serif;
    font-size: 30px;
}

.authors-span a {
  text-decoration: none;
  color: #fbae17;
}

.books-span a {
  text-decoration: none;
  color: #fe9f97;
}

.books-span {
  font-size: 30px;
  position: absolute;
  top: 150px;
  right: 0.5;
  left: 0.5;
  margin-left: -37px;
}

#logo {
  margin-left: 5%;
}

#footer-text {
  margin-left: 9.75%;
}

.footer {
  background-color: #fbae17;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 15%;
  width: 100%;
  font-weight: 900;
  font-size: 2.5em;
}
