extends layout

block content
  div.title-bar
    img(src= '/assets/book-icon.png' height='50' width='50' class='t-bar')
    h2(class='t-bar') Galvanize Reads

  div.container
    div.authors-img
      img(src='/assets/books-img.jpg' class='container-imgs')
    div.spacer
      p &nbsp;
    div.books-img
      img(src='/assets/authors-img.jpg' class='container-imgs')
