extends layout

block content
  div.title-bar
    img(src= '/assets/book-icon2.png' height='50' width='50' class='t-bar' id='logo')
    h2(class='t-bar' id='header-text') Galvanize Reads

  div.container
    div.authors-img
      span.authors-span Authors
    div.spacer
      p &nbsp;
    div.books-img
      span.books-span Books

  div.footer
    p(id='footer-text') footer goes here
