doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=EB+Garamond|Playfair+Display:400,900')
  body
    div.title-bar
      img(src= '/assets/book-icon2.png' height='50' width='50' class='t-bar' id='logo')
      h2(class='t-bar' id='header-text') Galvanize Reads

    block content

    div.footer
      form(action="/books", method="GET")
        input(type='text' name='search' class='search')
        input(type='submit' value='search')
