<div class='sidebar'>
  <div class='authors-div'>
    <a href='/authors'>Authors</a>
    <p>Book</p>
  </div>

  <div class='books-div'>
    <a href='/books'>Books</a>
    <p>Person</p>
  </div>

  <div class='button-box'>
    <a href='/books/new'>New</a>
  </div>
</div>
