extends ../layout

block content
  div.sidebar
    div.authors-div
      p Authors
        p Book
    div.books-div
      p Books
        p Person

  h1 title: #{thisBook.title}
  h1 genre: #{thisBook.genre}
  h1 authors: #{thisBook.authors}
  p description: #{thisBook.description}

  form(action="/edit", method="post")
    div
      a(href="/books/" + thisBook.id + "/edit") Edit

  form(action="/delete", method="post")
    div
      a(href="/books/" + thisBook.id + "/delete") Delete

  form(action="/", method="get")
    div
      a(href="/books/") Back
